@using DataViewModels
@model IEnumerable<DataViewModels.EmployeeVM>
@{
    ViewData["Title"] = "Home Page";
}

@Html.ActionLink("Add Employee", "Create", "Home")
<br/>
<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Salary</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.EmployeeId</td>
                <td>@emp.FirstName</td>
                <td>@emp.MiddleName</td>
                <td>@emp.LastName</td>
                <td>@emp.Salary</td>
                <td>@Html.ActionLink("Edit", "Edit", "Home", new { id = emp.EmployeeId })</td>
                <td>@Html.ActionLink("Delete", "Delete", "Home", new { id = emp.EmployeeId })</td>
            </tr>
        }
    </tbody>
</table>
